.card-box {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    overflow: hidden;
}

.card-box:hover {
    scale: 1.01;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-body {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}