.card {
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    scale: 1.01;
}